               <div class="navbar navbar-inverse">
                <!--Footer-->
                <div class="container">
                    
                    <div class="row" style="margin: 10px auto 0px auto">
                        <div class="col-md-4">                                
                                 <a>  <h5 class="grey-text text-darken-4">Contacts MST05</h5></a>                                        
                                            <a href="https://www.facebook.com/groups/1919838951608125/?ref=bookmarks" class="grey-text text-darken-4"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;&nbsp;
                                            <a class="grey-text text-darken-4" href="quoctinhnguyen9896@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>&nbsp;&nbsp;
                                            <a href="tel:0123456789" class="grey-text text-darken-4"><i class="fa fa-mobile fa-2x"></i></a>
                                            <p></p>                                
                        </div>
                        <div class=" col-md-4">
                                <p></p>
                        </div>
                        <div class=" col-md-4">
                                           
                            <li><a class="grey-text" href="http://fhq.hcmute.edu.vn/" > <span>FACULTY FOR HIGH QUALITY TRAINING </span> </a></li>                            
                                <a><span class="grey-text text-darken-4">Nguyen Quoc Tinh_14110422</span><br/>
                                <span>Nguyen Tuan Kiet_14110348</span><br/>
                                <span>Duong Ngoc Hao_14110385</span><br/> </a>
                        </div>  
                    </div>                                                       
                </div>                
            </div>




    