<footer>
        <div class="container">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <!--Footer-->
                <div class="container">
                    <div class="row" style="margin: 10px auto 0px auto">
                        <div class="col-lg-9 col-xs-6">
                            <h5 class="grey-text text-darken-4">Contacts MST05</h5>
                            <p>
                                <a href="https://www.facebook.com/sportavn/" class="grey-text text-darken-4"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;&nbsp;
                                <a class="grey-text text-darken-4" href="mailto:sporta.hotro@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>&nbsp;&nbsp;
                                <a href="tel:0123456789" class="grey-text text-darken-4"><i class="fa fa-mobile fa-2x"></i></a>
                            </p>                        
                        </div>                   
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <ul style="list-style: none; padding-left: 0px;">
                            <li><a class="grey-text text-darken-3" href="http://fhq.hcmute.edu.vn/">FACULTY FOR HIGH QUALITY TRAINING</a></li>
                        </ul>
                        <ul style="list-style: none; padding-right: 0px;">
                                <p class="text-right"><span>MSTO5_QuanLyThoiGianBieu</span><br/>
                                    <span>Nguyen Quoc Tinh_14110422</span><br/>
                                    <span>Nguyen Tuan Kiet_14110348</span><br/>
                                    <span>Duong Ngoc Hao_14110385</span><br/>  
                                </p>  
                        </ul>
                    </div>
                                            
                </div>
                <div class="footer-cpy-right">
                        <div class="container">
                            <div class="cpy-right-info">
                                <h5>© 2016 - Bản quyền của Công Ty Cổ Phần Ti Ki - Tiki.vn</h5>
                                <p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</p>
                            </div>
                            
                        </div>
                    </div>
            </div>
                <!--Footer-->

        </div>
</footer>
</body>
</html>

    