<!doctype html>
<html>
<head>
        <title>Add Event</title>
        
        <%- include('partials/header0') %>
        
</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-calendar"></span> Add an Event</h1>

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
    <% } %>

    <!-- PRODUCT FORM -->
    <form action="/event" method="post">
        <div class="form-group">
            <label>Event Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Description *</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" name="date">
        </div>
        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" name="location">
        </div>
        <div class="control-group">
            <label>Prority</label>
            <select>
                <option value="important">Important</option>
                <option value="unimportant">Unimportant</option>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-warning">Add</button>
        
    </form>
    <hr>

    <p>Need an form fillout <a href="/event/">Add Event</a></p>
    <p>Or go <a href="/event/listEvent">home</a>.</p>

</div>
</div>
<% include partials/footer.ejs%> 

</body>
</html>
